/* General */

html,
body,
header {
  height:100%;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

/* Navbar customization */
.navbar {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

/* Section */
section {
    padding: 60px 0;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
}

/* Star below section title*/
hr{
    margin: 25px auto 30px;
    padding: 0;
    max-width: 450px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star:after {
    background-color: #FFF;
}

hr.star-light:after {
    background-color: #F5F5F5;
}

/* Intro */
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(/images/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #82B440;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #82B440;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
/* END intro*/

/* Green panel-appointment */
.panel-appointment {
    border-color: #82B440;
}

.panel-appointment>.panel-heading {
    color: #fff;
    background-color: #82B440;
    border-color: #82B440;
}

section#umow_wizyte {
  background: #F5F5F5;
}

/* Cite */
.cite {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #9d9d9d; /* .navbar-inverse .navbar-nav>li>a */
  background: #222222; /* navbar-inverse */
  padding: 50px 15px;
}

/* Sign font */
.sign {
  font-family: 'Marck Script';
}

/* Center in vertical */
.table tbody.vert-align > tr > td {
    vertical-align: middle;
}

.end-bg {
    background-image: url('/images/end-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.end-bg-caption {
     color: #FFF;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
/* Scroll to top button */

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    color: #fff; /* .navbar-inverse .navbar-nav>li>a */
    background: #82B440; /* navbar-inverse */
    width: 70px;
    height: 70px;
    padding: 7px 16px;
    border-radius: 100%!important;
    font-size: 40px;
}

/* Footer */
.footer {
  width: 100%;
  background: #222222; /* navbar-inverse */
  color: #9d9d9d; /* .navbar-inverse .navbar-nav>li>a */
  /* Set the fixed height of the footer here */
}

.footer > .container {
  padding: 15px;
  padding-left: 15px;
}
